body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bad2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.board{
    width: 980px;
    height: 2148.44px;
    background: linear-gradient( to top, white 96%, lightgray);
}
li{
    list-style:none;
}
.board{
    background-color: white;
    position: relative;
    padding: 10px 0 0 0;
    margin: 10px auto 10px auto;
    border-radius: 10px;
}
.topoftop{
    display: flex;
    text-align: center;
}
.topoftop button{
    width: 91px;
    height: 22px;
    font-size: 11px;
    border-radius: 5px;
    color: #666;
    text-align: center;
    border-width: 0px;
    border-style: outset;
}
.topoftop #topIMG{
    width: 190px;
    height: 49px;
    margin: 0 0  0 15px;
}
.formDiv{
    margin-left: auto;
}
#golf{
    cursor: pointer;
    margin-bottom: 15px;    
    display: flex;
    align-items: flex-start;
    align-items: center;
    font-size: 20px;
    margin-left : 10px;
}
.mall{
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    font-size: 20px;
}
#l{
    margin: 18px 10px 0 10px;
    color: gray;
}
#topOfButton{
    position: absolute;
    right: 15px;
    border: solid lightgray 0.5px;
    cursor: pointer;
}
.Form{
    margin: 45px 15px 0 0;
}
#serch{
    width: 200px;
    border-radius: 10px;
    border: 10px;
    font-size: 11px;
    height: 15px;
    border: solid lightgray 0px;
}
#topIMG{
    cursor: pointer;
}
.Form .trash{
    background-color: white;
    border: solid lightgray 0.5px;
    border-radius: 10px;
    flex-direction: column;
    color: gray;
}
.Form .trash .inputButton{
    background-color: #fff;
    width: 20px;
}
.inputButton i{
    font-size: 15px;
}
.Form .trash #firstid{
    margin-left: 10px;
}
.nav{
    display: flex;
    background: linear-gradient( to top, rgb(17, 85, 141) 60%, rgb(78, 124, 161));
    border-radius: 10px;
    margin: 20px 10px;
    height: 45px;
}
.nav .navele{
    padding: 10px 20px 12px;
    font-size: 13px;
    font-weight: bolder;
    color: #FFF;
    align-items: center;
    margin-top: 3px;
    border-left: solid black 1px;
}
.nav #navele1{
    border: white 0px;
}
.contents{
    display: flex;
}
.content::after{
    content: ">";
}
.content{
    font-size: 12px;
}
.leftvar{
    position: absolute;
    left: 250px;
}
.navele{
    text-decoration-line: none;
}
.navele:hover{
    background: linear-gradient( to top, rgb(3, 51, 90) 60%, rgb(28, 111, 179));
}
#navele1:hover{
    border-radius: 10px 0 0 10px;
}
#pointer{
    cursor: pointer;
}
.neck{
    display: flex;
    flex-direction: column;
}
.neckImg{
    border-radius: 10px;
}
.current{
    background: url(../image/common/lside_1deps_bult_open.png) no-repeat left top;
}
.center{
    display: flex;
}
.warp{
    margin-top: -20px;
    padding: 10px 10px 0px;
}
.leftHead{
    border-radius: 10px 10px 0 0;
    width: 145px;
    display:flex;
    align-items: flex-start;
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.781);
    color: #FFF;
    padding: 0px 18px 0 17px;
}
.section ul{
    font-size: 12px;
    margin-top: 5px;
    padding: 0 0 0 0;
}
.section{
    border-radius: 10px;
    background-color: #cfd2d6;
    margin-top: -7px;
    height: 500px;
    display: flex;
    width: 180px;
}
.current{
    display: flex;
    flex-direction: column;
}
#padSel{
    padding: 4px 10px 4px 17px;
    color: #6d6271;
}
#padSel:first-child{
    color: #207dbf;
    display: flex;
    align-items: flex-start;
}
.nCurrent a{
    flex-direction:initial;
}
.section .currents:first-child{
    color: black;
}
.nCurrent .current i{
    font-size: 15px;
    margin: 0 5px 0 0;
}